# SPDX-FileCopyrightText: 2023 Sascha Brawer <sascha@brawer.ch>
# SPDX-License-Identifier: MIT
#
# Patterns for files outside version control

*~
/cache
/venv
__pycache__/

# generated output
bern-address-book.csv
givennames.unknown.csv
